/mars_tianchi_songs.csv
/mars_tianchi_user_actions.csv
/mars_tianchi_artist_plays_predict.csv
/mars_tianchi_artist_plays_predict_old.csv
/mars_tianchi_artist_plays_predict_1.csv
/p2_mars_tianchi_artist_plays_predict.csv
/p2_mars_tianchi_songs.csv
/p2_mars_tianchi_user_actions.csv
/result_1/
/mars_tianchi_songs_1.csv
/result_1.txt
